
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<hr />

@Ajax.ActionLink("取得Server時間", "GetTime", new AjaxOptions() { UpdateTargetId = "now" })

<hr />

<div id="now"></div>

<hr />

@Ajax.ActionLink("取得Json", "GetJson", new AjaxOptions() { HttpMethod = "Post", OnSuccess = "getResult" })

<hr />

<script>
    function getResult(data) {
        alert(data.result);
    }
</script>
