
@{
    ViewBag.Title = "View1";
}

<h2>View1</h2>

<hr />

<button onclick="getdata()">讀取 Products 的 JSON 資料</button>

<script>
    function getdata() {
        $.getJSON("Json1", null, function (data) {
            console.log(data);
        });
    }
</script>

<hr />

